@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-principal: 'Poppins';
    --font-secundaria: 'Montserrat';

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-principal);
}

html {
    overflow-y: scroll;
  scroll-behavior: smooth;
  animation-duration: .3s;
}

body {
    background-color: #191717e9;
    height: 100vh;
}



.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.logo {    
    width: auto;
    height: auto;
}

.flex-top {
    display: flex;

}

.flex-top a {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 15px;    
    
}

.flex-top h2 {   
    margin-left: 0px; 
    font-size: 1.2rem;
    
}


/* ESTILO DO CABEÇALHO */


header {
    display: flex;    
    background-color: black;
    padding: 30px 4%;
    width: 100%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}



header a:hover {
    color: #FFF;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
    font-family: var(--font-principal)
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #ABA9A9;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

button:hover {
    box-shadow: 0px 0px 8px #00ff08;
    transform: scale(1.05);
}

/* ESTILO DO TOPO DO SITE */


.topo-do-site
section.topo-do-site {
    padding: 40px 4%;
}



section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.img {
    height: 400px;
    border-radius: 90px;
    position: relative;
    z-index: -10;

}

.topo-do-site h1 {
    margin-top: 200px;
    color: #FFF;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #00FF08;
}

.topo-do-site .txt-topo-site p {
    color: #FFF;
    margin: 40px 0;
    font-family: 'Poppins';
}

.topo-do-site .img-topo-site {
    margin-top: 200px;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}


/* Animação de fundo */

#particles-js {
    margin-top: 200px;
    position: absolute;    
    width: 100%;
    height: 55%;
    background-color: #26242400;    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
  } /* ---- stats.js ---- */
  .count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13e8e9;
    font-size: 0.8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
  .js-count-particles {
    font-size: 1.1em;
  }


/* ESTILO DAS ESPECIALIDADES */

h2.titulo {
    margin-top: 30px;
    color: #FFF;
    font-size: 38px;
    text-align: center;
    margin-bottom: 25px;
}

h2.titulo span {
    color: #FFF;
}

section.especialidades {
    padding: 40px 4%;

}

section.especialidades .flex {
    gap: 55px;
}

.especialidades .especialidades-box {
    color: #FFF;
    padding: 40px;
    text-align: center;
    margin-top: 25px;
    border-radius: 20px;
    transition: .2s;

}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #6d6e6d;
}

.especialidades .especialidades-box h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}


/* ESTILO DO SOBRE */

section.sobre {
    padding: 80px 4%;
}

section.sobre .flex {
    margin-top: 150px;
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #FFF;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #ABA9A9;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.sobre .txt-sobre  button img {
    height: 70px;
    justify-content: center;
}

.photo {
    width: 450px;
    border-radius: 50px;
}

/* pORTFÓLIO */



section.portfolio {   
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #47383875;
    
}

section.portfolio .flex {
    justify-content: space-around;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
   
}

.titulo-projetos {
    text-align: center;
    font-family: 'Poppions',sans-serif;
    margin-top: 10px;
    font-size: 15px;
    
}

.img-projetos {
    width: 250px;
    height: 150px;
    
}

.img-port .img-projet h2 {
    color: #FFF;
    text-align: center;
    font-family: 'poppins',sans-serif;
    width: 21.9rem;
    border-radius: 5px 5px 5px 0
    
}

.img-projet img {
    width: 350px;
    height: auto;
}



.img-port a {
    text-decoration: none;   
    
}

.img-port h2 {
    background-color: #424242;    
    font-size: 15px;
    color: #010101;
    
    
}

.img-port-text {
    background-color: #000022;
    color: #FFF;
    text-align: center;
}

.overlay {
 background-color: #000022;
 color: #FFF;
 text-align: center;
 
}

/* FORM */

section.formulario {
    padding: 80px 4%;
  }

  form {
    margin-top: 40px;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
  
  form input, form textarea {
    width: 100%;
    background-color: #1d1d1f9d;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #FFF;
    font-size: 18px;    
  }

  form textarea {
    resize: none;
    height: 250px;
  }

  form .btn-enviar {
    margin-top: 20px;
    text-align: center;
  }

  form .btn-enviar input {
    width: 150px;
    cursor: pointer;
  }

  form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #00FF08;
    transform: scale(1.05);
  }

  .btn-form {   
    margin: 20px 0px 0px 120px;
    background-color: #13e8e9;
    border: none;

    width: 250px;
    height: 50px;
    border-radius: 15px;
    
  }


/* FOOTER */
footer {
    background-color: rgba(26, 25, 25, 0.66);
    padding: 30px 4%;
}

footer h2 {
    text-align: center;
    color: #FFF;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

}

.text-footer p {
    text-align: center;
    font-weight: 700;
    color: #FFF;
}




/* ANIMAÇÕES */

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}


  /* Mobile */

@media (max-width:1020px) {

     /* CABEÇALHO */
     
     .interface a h2 {
        color: #FFF;
        font-size: 20px;
     }
     
     .btn-contato{
        display: none;
    }

    .menu-desktop {
        display: none;
    }



    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    #particles-js {
        display: none;
    }
    
    .flex {
        flex-direction: column;
    }

    .txt-topo-site h1 {
        font-size: 25px;
        text-align: center;
    }

    .txt-topo-site p {
        text-align: center;
    }

    .img {
        width: 350px;
        height: auto;
    }
    .btn-form{
        margin: auto;
        margin-top: 10px;
    
    
    }


    /* Minhas especialidades */

    .interface h2 {
        font-size: 15px;
        text-align: center;
    }

    .interface  .especialidades-box {
        margin: auto;       
        width: 300px;
        
    }

    section.especialidades .flex {
        gap: 10px;
    }

   

    /* Sobre mim */

    .img-sobre .photo {
        width: 300px;
        border-radius: 20px;
    }

    .text-sobre p {
        text-align: center;
    }

    .btn-social {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .btn-social a { 
         margin-top: 50px;      
    }
   
    /* Projetos */

    .flex {
        align-items: center;
        gap: 50px;
    }



}