@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-principal:'Poppins';
    --font-secundaria: 'Montserrat';
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-principal);
}

body {
    background-color: #262424;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.logo {
    width: auto;
    height: auto;
}

/* ESTILO DO CABEÇALHO */

header {
    background-color: #1a1919a8;
    padding: 30px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: #FFF;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
    font-family: var(--font-principal)
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00FF08;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

 button:hover {
    box-shadow: 0px 0px 8px #00ff08;
    transform: scale(1.05);
}

/* ESTILO DO TOPO DO SITE */

section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.img {
    height: 400px;
    border-radius: 90px;
    
}

.topo-do-site h1 {
    color: #FFF;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #00FF08;
}

.topo-do-site .txt-topo-site p {
    color: #FFF;
    margin: 40px 0;
    font-family: 'Poppins';
}

.topo-do-site .img-topo-site {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}


/* ESTILO DAS ESPECIALIDADES */

h2.titulo {
    color: #FFF;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #FFF;
}

section.especialidades {
    padding: 40px 4%;
    
}

section.especialidades .flex {
    gap: 65px;
}

.especialidades .especialidades-box {
    color: #FFF;
    padding: 40px;
    text-align: center;
    margin-top: 25px;
    border-radius: 20px;
    transition: .2s;
    
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #00FF08;
}

.especialidades .especialidades-box h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}


/* ESTILO DO SOBRE */

section.sobre {
    padding: 80px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #FFF;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #00FF08;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.sobre .txt-sobre .btn-social button img {
    height: 70px;
    justify-content: center;
}

.sobre .txt-sobre .btn-social button {
    width: 70px;
    height: 70px;
    border-radius: 30px;
    border: none;
    background-color: #00FF08;
    cursor: pointer;
    margin: 0 5px;
}


/* ANIMAÇÕES */

@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top:30px;
    }
}


/* Mobile */

